<%= form_with model: @post_spot, url: url, method: method, id: 'new_post', local: true do |f|%>

  <div class="field">
    <%= f.label :text, "コメントを書こう" %><br />
    <%= f.text_area :text, class: :form__text, id:"post_text" %>
  </div>

  <div id="previews"></div>

  <div class="field">
    <%= f.label :images, "画像を投稿しよう" %><br />
    <div class="click-upload">
      <%= f.file_field :images, name: 'post_spot[images][]', data: {index: 0}, id:"post_images" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :spot_name, "スポット名を入力しよう" %><br />
    <%= f.text_area :spot_name, class: :form__text %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>