<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <div class = pic__map>
        <div class="slider">
          <% @post.images.each do |image| %>
            <div class="image">
              <%= image_tag image.variant(gravity: :center, resize:"480x480^", crop:"480x480+0+0") %>
            </div>
          <% end %>
        </div>
        <div id='map'></div>
      </div>
      <div class="prototype__detail">
        <p class="detail__text">
          <%= @post.text %>
        </p>
        <div class = "spots__name">
          <% @post.spots.each do |spot| %>
            <%= link_to "##{spot&.spot_name}", "/post/hashtag/#{spot&.spot_name}", class: :hashspot__name %>
          <% end %>
        </div>
      </div>
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_post_path(@post.id), class: :prototype__btn %>
          <%= link_to "削除する", post_path(@post.id), method: :delete, class: :prototype__btn %>
        </div>
      <% end %>
    </div>
  </div>
</main>
